doctype html
meta(charset="utf-8")
title
	block title
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="width=device-width">
<!--[if lt IE 9]>
script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js")
<![endif]-->
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>
<link rel=icon type="image/png" href="favicon.png">
link(rel="stylesheet",href="style.css")

<!--[if lt IE 9]>
<body class=ie8>
<![endif]-->

figure.col
	//hidden
	h1 Lacaille Transit
	img.module#img
.col2
	section.artbg
		h2#contact
			block contactTitle
		block contactAddress

		div
			h4 
				block contact1t
			|Stéphane Lacaille<br>
			a(href="mailto:stephane@lacailletransit.ca") stephane@lacailletransit.ca<br><br>
		div
			h4
				block contact6t
			|Brian Lariviere<br>
			a(href="mailto:brian@lacailletransit.com") brian@lacailletransit.com<br><br>

		div 
			h4 
				block contact2t
			ul
				li Lori-Ann Kurty<br><a href="mailto:lori@lacailletransit.com">lori@lacailletransit.com</a>
				li René Simoneau<br><a href="mailto:rene@lacailletransit.com">rene@lacailletransit.com</a>
			a(href="mailto:dispatch@lacailletransit.com") dispatch@lacailletransit.com<br><br>

		div
			h4
				block contact4t
			|Vianney Kavanagh<br>
			a(href="tel:+4502750067") (450) 275-0067<br><br>
		div
			h4
				block contact7t
			|Marc tardif<br>
			a(href="mailto:marc@lacailletransit.com") marc@lacailletransit.com<br><br>
		div
			h4
				block contact3t
			|Carol-Ann Edwards<br>
			a(href="mailto:accounting@lacailletransit.com") accounting@lacailletransit.com
		div
			h4
				block contact5t
			<br>
			a(href="mailto:payablesprocessing@lacailletransit.ca") payablesprocessing@lacailletransit.ca<br><br>


.col1
	
	section.photobg
		h2#about
			block aboutTitle
			<img src="http://farm8.staticflickr.com/7322/9158213075_870a18d29f.jpg">
		block about
	
	section.sidebg
		h2#service 
			block servicesTitle
			img(src="service-chauffe.jpg")
		block services
		p &nbsp;
	section
		h2#documents
			block documentsTitle
		block documents

block credits

nav
	a.first(href="#contact")
		block nav1
	a(href="#about")
		block nav2
	a(href="#service")
		block nav3
	a.last(href="#documents")
		block nav4
	block langswitch

script.
	var handler;

	if("classList"in document.documentElement){
		handler=function(e,z,i,a){
			z=document.getElementsByTagName("nav")[0].getElementsByTagName("a")
			for(i=z.length;i--;)z[i].classList.remove("clicked")
			a=document.querySelector("[href='"+location.hash+"']")
			a&&a.classList.add("clicked")
		};
		document.getElementsByTagName("nav")[0].onclick=handler
		onload=handler
		window.onhashchange=handler
	};

	var img=document.getElementById("img");
		
	onresize=function(){
		var w=window.innerWidth||document.documentElement.clientWidth; //ie fix
		var tw=(window.devicePixelRatio||1)*w
		var src="http://farm6.staticflickr.com/5466/9160440166_e46a0d640f_n.jpg";


		if(tw>320){src="http://farm6.staticflickr.com/5466/9160440166_e46a0d640f.jpg"}
		if(tw>500){src="http://farm6.staticflickr.com/5466/9160440166_e46a0d640f_z.jpg"}
		if(tw>640){src="http://farm6.staticflickr.com/5466/9160440166_e46a0d640f_c.jpg"}
		if(tw>800){src="http://farm6.staticflickr.com/5466/9160440166_e46a0d640f_b.jpg"}
		if(tw>1024){src="http://farm6.staticflickr.com/5466/9160440166_606bacf9c1_h.jpg"}
		if(tw>1600){src="http://farm6.staticflickr.com/5466/9160440166_e10b69ec49_k.jpg"}
		img.src=src;

	};
	onresize();
