doctype html
meta(charset="utf-8")
title
	block title
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="viewport" content="width=device-width">
//if lt IE 9
	script(src="//html5shim.googlecode.com/svn/trunk/html5.js")
	script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js")
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>
<link rel=icon type="image/png" href="favicon.png">
link(rel="stylesheet",href="style.css")

//if lt IE 9
	<body class=ie8>

figure.col
	//hidden
	h1 Lacaille Transit
	img.module(src="http://farm6.staticflickr.com/5466/9160440166_e10b69ec49_k.jpg")
.col2
	section.artbg
		h2#contact
			block contactTitle
		block contactAddress

		div
			h4 
				block contact1t
			|Stéphane Lacaille<br>
			a(href="mailto:stephane@lacailletransit.ca") stephane@lacailletransit.ca<br><br>

		div 
			h4 
				block contact2t
			ul
			li Lori-Ann Kurty<br>
			li René Simoneau
			a(href="mailto:dispatch@lacailletransit.com") dispatch@lacailletransit.com<br><br>

		div
			h4
				block contact4t
			|Vianney kavanagh<br>
			a(href="tel:+4502750075") (450) 275-0075<br><br>

		div
			h4
				block contact3t
			|Carol-Ann Edwards<br>
			a(href="mailto:accounting@lacailletransit.com") accounting@lacailletransit.com<br><br>

		div
			h4
				block contact5t
			<br>
			a(href="mailto:payablesprocessing@lacailletransit.ca") payablesprocessing@lacailletransit.ca<br><br>


.col1
	
	section.photobg
		h2#about
			block aboutTitle
			<img src="http://farm8.staticflickr.com/7322/9158213075_870a18d29f.jpg">
		block about
	
	section.sidebg
		h2#service 
			block servicesTitle
		block services
	section
		h2#documents
			block documentsTitle
		block documents

nav
	a.first(href="#contact")
		block nav1
	a(href="#about")
		block nav2
	a(href="#service")
		block nav3
	a.last(href="#documents")
		block nav4
	block langswitch

script
	//classList polyfill
	(function(){function c(a){this._element=a;if(a.className!=this.classCache){this._classCache=a.className;var a=this._classCache.split(" "),b;for(b=0;b<a.length;b++)e.call(this,a[b])}}if(!("undefined"===typeof Element||Element.prototype.hasOwnProperty("classList"))){var d=[].indexOf,f=[].slice,e=[].push,g=[].splice,h=[].join;c.prototype={add:function(a){e.call(this,a);a=f.call(this,0);this._element.className=a.join(" ")},contains:function(a){return-1!==d.call(this,a)},item:function(a){return this[a]||null},remove:function(a){a=d.call(this,a);g.call(this,a,1);a=f.call(this,0);this._element.className=a.join(" ")},toString:function(){return h.call(this," ")},toggle:function(a){-1===d.call(this,a)?this.add(a):this.remove(a)}};window.DOMTokenList=c;Element.prototype.__defineGetter__("classList",function(){return new c(this)})}})();
	
	var handler=function(e,z,i,a){
		z=document.getElementsByTagName("nav")[0].getElementsByTagName("a")
		for(i=z.length;i--;)z[i].classList.remove("clicked")
		a=document.querySelector("[href='"+location.hash+"']")
		a&&a.classList.add("clicked")
	};
	document.getElementsByTagName("nav")[0].onclick=handler
	onload=handler
	window.onhashchange=handler

	var t=document.getElementById("documents").parentElement;
	
	onresize=function(){
		t.parentElement.removeChild(t)
		if(window.innerWidth<900){
			document.querySelector(".col1").appendChild(t)
		}else{
			document.querySelector(".col2").appendChild(t)
		}
	};
	onresize();
